<div class="card">
    <div class="card-body">
      <h5 class="card-title">Application Usage Guidelines</h5>
      <div class="details">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1. Run the node server to get image and short description.</li>
          <li class="list-group-item">2. Navigate to Add Items page to add details of multiple person</li>
          <li class="list-group-item">3. Validate the data and proceed to save it</li>
          <li class="list-group-item">4. View already saved data on List Item's Page</li>
          <li class="list-group-item">5. Click on clear data option under Navigation Menu to clear all tored data</li>
        </ul>
      </div>
    </div>
  </div>